/* variables color */
:root {
  --dark: rgb(41, 33, 33);
  --light: rgb(255, 191, 73);
}
/* reset css */
*,
::after,
::before {
  padding: 0;
  margin: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  list-style-type: none;
  text-decoration: none;
  box-sizing: border-box;
  color: var(--light);
  border-color: var(--light);
}

/* gradient backgroundColor */
.gradient-background {
  background: linear-gradient(216deg, #1ac326, #2f4e2c, #707ec0, #7c950d);
  background-size: 240% 240%;
  animation: gradient-animation 40s ease infinite;
}
@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
/* gradient backgroundColor */
html {
  font: small-caps normal normal 10px/1.5 Arial, sans-serif;
}
body {
  font-size: 1.8rem;
  overflow: hidden;
}
/* some reusable styles  */
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.bg-dark {
  background-color: var(--dark);
}
.bg-light {
  background-color: var(--light);
}
.color-dark {
  color: var(--dark);
}
.color-light {
  color: var(--light);
}
.pd-l {
  padding: 2.4rem;
}
.pd-m {
  padding: 1.6rem;
}
.pd-s {
  padding: 1.2rem;
}
.mg-l {
  margin: 2.4rem;
}
.mg-m {
  margin: 1.6rem;
}
.mg-s {
  margin: 1.2rem;
}
/* start of container wrapper */
div.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  height: 100vh;
  width: 100vw;
}
/* ######################################### */
/* ######################################### */
/* start of header section */
div.wrapper header.header {
  align-self: stretch;
  font-weight: bolder;
  font-size: 4.6rem;
  letter-spacing: 1.4rem;
}
header.header h1.h1 {
  white-space: nowrap;
}
/* ######################################### */
/* ######################################### */
/* start of main section */
div.wrapper main.main {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex: 1;
  align-self: stretch;
}
div.wrapper main.main > * {
  border-radius: 2rem;
}
/* start of aside.side inside main section */
div.wrapper main.main aside.side {
  flex: 1 0 20rem; /*flex item width will be >=20rem*/
  align-self: stretch;
}
/* start of div.grid-wrapper inside main section */
div.wrapper main.main div.grid-wrapper {
  align-self: stretch;
  flex: 1 0 71.2rem; /*flex item will be >=71.2rem*/
}
main.main div.grid-wrapper div.board {
  flex: 0 0 64rem;
  height: 64rem;
  border: 1px solid gray;
  box-sizing: unset;
}
/* ######################################### */
/* ######################################### */
/* start of footer section */
div.wrapper footer.footer {
}
